html {
    min-height: 100%;
    height: 100%;
    position: relative;
    font-size: 16px;
    line-height: 1.6;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    line-height: 1.6;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0 2rem;

    .form-group {
        margin: 3rem 0 3.5rem;

        & > label {
            padding-bottom: 1rem;
        }
    }

    .container-fluid {
        max-width: 1110px;
        margin: 0 auto;
    }

    label {
        b {
            padding-right: 1rem;
            font-weight: 800;
        }
    }

    h1 {
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    h1 + p {
        margin-bottom: 3rem;
    }

    b {
        font-weight: 800;
    }

    input[type="radio"]{
        width: 20px;
        height: 20px;
        padding-right: 1rem;
    }

    input[type="text"],
    textarea.form-control {
        font-size: 1.4rem;
        line-height: 1.4;
        padding: 0.5rem;
        border-radius: 5px;
    }

    .form-control {
        height: 54px;
    }

    textarea.form-control {
        height: auto;
    }

    .form-group {
        margin-bottom: 2rem;
    }

    .checkbox {
        label {
            padding-left: 0;
        }
    }

    thead th {
        font-weight: 600;
        text-align: center;
    }

    td input[type=radio],
    td input[type=checkbox] {
        display: block;
        margin: 0.5rem auto;
    }

    label {
        display: inline-block;
        padding: 0px 1.4rem 0px .4rem;
    }

    label + p {
        margin-top: 2rem;
    }

    .table>tbody>tr>td {
        vertical-align: middle;
        padding: 12px 0;
        text-align: center;

        label {
            padding: 0;
            padding-top: .5rem;
        }

        input[type="radio"]{
            padding: 0;
        }
    }

    .table>tbody>tr>td:first-child{
        text-align: left;
    }

    .form-horizontal .control-label {
        padding-top: 0;
    }

    .table-condensed {
        td {
            input {
                margin: 0 auto;
            }

            label {
                text-align: center;
            }
        }
    }

    .checkbox label:after,
    .radio label:after {
        content: '';
        display: table;
        clear: both;
    }

    .checkbox .cr,
    .radio .cr {
        position: relative;
        display: inline-block;
        border: 1px solid #a9a9a9;
        border-radius: .25em;
        width: 1.3em;
        height: 1.3em;
        float: left;
        margin-right: .5em;
    }

    .radio .cr {
        border-radius: 50%;
    }

    .checkbox .cr .cr-icon,
    .radio .cr .cr-icon {
        position: absolute;
        font-size: .8em;
        line-height: 0;
        top: 50%;
        left: 20%;
    }

    .radio .cr .cr-icon {
        margin-left: 0.04em;
    }

    .checkbox label input[type="checkbox"],
    .radio label input[type="radio"] {
        display: none;
    }

    .checkbox label input[type="checkbox"] + .cr > .cr-icon,
    .radio label input[type="radio"] + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
    }

    .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
    .radio label input[type="radio"]:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled + .cr,
    .radio label input[type="radio"]:disabled + .cr {
        opacity: .5;
    }

    footer {
        margin: 6rem 0 16rem;

        p {
            text-align: center;
        }
    }

    button[type="submit"]{
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .invalid-feedback {
        display: none;
    }

    .col-md-8 {
        & > div {
            display :block;
            margin: 1rem;
        }
    }

    .form-horizontal .control-label {
        text-align: left;
    }

    @include mq("tablet-wide"){
        .form-horizontal .control-label {
            text-align: right;
        }
    }

    .part14 {
        div {
            display: block;
        }

        div:nth-child(4) {
            margin-bottom: 1rem;
        }
    }

    .table-responsive {
        border: 0;
        overflow-y: scroll;
        margin:0;
        margin-right: -2em;
    }

    .big-table {
        overflow: auto;
        margin-right:-2em;

        & + textarea {
            margin-right: 15px;
            margin-left: 15px;
        }

        .table-responsive {
            margin: 0;

            @include mq("tablet-wide"){
                margin: 1rem;
            }
        }
    }
}
